@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background: url("./living-room.jpg") center/cover;
}

.Furniture picture {
  @apply h-20;
}

.NavigationUL li:hover {
  @apply bg-[#2E2E68] text-white rounded-md;
}

.NavigationUL li {
  @apply h-fit w-fit p-2;
}

.NavigationUL li:active {
  @apply bg-[#2a2ab3];
}

.Article input {
  @apply border-2 rounded-xl m-2;
}
.Article input:focus {
  @apply border-2 bg-slate-300;
}
.relative {
  position: relative;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #2a2ab3;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  